
body {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: gray;
}

* {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: black;
}


#life {
  position: absolute;
  display: inline-block;
  left: 9.5%;
  height: 100%;
  width: 27%;
  background-color: #BFB504;
  text-align: center;
  vertical-align: middle;
  line-height: 700px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#guy {
  position: absolute;
  display: inline-block;
  left: 36.5%;
  height: 100%;
  width: 27%;
  background-color: #00007F;
  text-align: center;
  vertical-align: middle;
  line-height: 700px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#tech {
  position: absolute;
  display: inline-block;
  right: 9.5%;
  height: 100%;
  width: 27%;
  background-color: #7F0000;
  text-align: center;
  vertical-align: middle;
  line-height: 700px;
  margin-top: 0px;
  margin-bottom: 0px;
}